# Assignment Part One
You are free choose whether to solve the following exercises in MQL or to write the queries in python using <a href='https://pymongo.readthedocs.io/en/stable/'>pymongo</a>

In [1]:
import pandas as pd
import pymongo
from pymongo import MongoClient

In [2]:
mongodb_uri = "mongodb+srv://student:nRfKfRqEtgWvznFD@cluster0.gu4ru.mongodb.net"
client = MongoClient(mongodb_uri)

## Airbnb Dataset

What is the name of the listing in the sample_airbnb.listingsAndReviews dataset
that accommodates more than 6 people and has exactly 50 reviews

In [3]:
db = client.get_database('sample_airbnb')
lisrev = db.get_collection("listingsAndReviews")

In [4]:
pd.DataFrame( lisrev.find( { "$and": [ 
                               {"accommodates" : {"$gt":6} }, 
                               {"number_of_reviews" : {"$eq":50} } ] },
                           {"name":1} ) )

       _id                        name
0  4294289  Sunset Beach Lodge Retreat

Using the sample_airbnb.listingsAndReviews collection find out how many
documents have the "property_type" "House", and include "Changing table" as
one of the "amenities"?

In [5]:
lisrev.count_documents( { "$and": [ 
                            {"property_type" : "House" }, 
                            {"amenities" : "Changing table"} ] } )

11

What room types are present in the sample_airbnb.listingsAndReviews collection?

In [6]:
lisrev.distinct("room_type")

['Entire home/apt', 'Private room', 'Shared room']

## Mflix Dataset

(following exercise may be easier in python) 
Our movies dataset has a lot of different documents, some with more convoluted titles than
others. 
Find the count of the number of movies that have a title composed of one word. 
To clarify, "Cinderella" and "3-25" should count, where as "Cast Away" would not. 

You may want to take look into the `$split` String expression and the `$size` Array expression

* https://docs.mongodb.com/manual/reference/operator/aggregation/split/
* https://docs.mongodb.com/manual/reference/operator/aggregation/size/
* https://database.guide/mongodb-split/
* https://pymongo.readthedocs.io/en/stable/examples/aggregation.html

In [7]:
db = client.get_database('sample_mflix')
mov = db.get_collection("movies")

sum(pd.DataFrame(mov.aggregate([{"$project": {"count": {"$size": {"$split": ["$title", " "]}}}}]))["count"]>1)

18737

Pick all movies that match following criteria: 

* imdb.rating is at least 7
* genres does not contain "Crime" or "Horror"
* rated is either "PG" or "G"

In [8]:
pd.DataFrame(mov.find({"$and":[
                            {"genres": {"$nin": ["Crime", "Horror"]}},
                            {"imdb.rating" : {"$gt": 7}},
                            {"rated": {"$in": ["PG", "G"]}}]},
                      {"title":1}))

                          _id                                            title
0    573a1392f29313caabcda82b                             Gold Diggers of 1935
1    573a1392f29313caabcd9ed7                                 Footlight Parade
2    573a1392f29313caabcdae3d                                     Modern Times
3    573a1392f29313caabcdbb8a                               Gone with the Wind
4    573a1393f29313caabcdc558                       The Man Who Came to Dinner
..                        ...                                              ...
783  573a13eaf29313caabdcfacf                            When Marnie Was There
784  573a13edf29313caabdd4232  My Little Pony: Equestria Girls - Rainbow Rocks
785  573a13eff29313caabdd8fc5                                            Feast
786  573a13f5f29313caabde3160                                       Dark Horse
787  573a13f2f29313caabddcd21                                             Lava

[788 rows x 2 columns]

## Citibike Data

In [9]:
db = client.get_database('sample_training')
tri = db.get_collection("trips")

How many trips in the sample_training.trips collection started at stations that are to
the west of the -74 longitude coordinate?
Longitude decreases in value as you move west.

In [10]:
tri.count_documents({"start station location.coordinates.0" : {"$lt":-74}})

1928

What is the difference between the number of people born in 1998 and the number of
people born after 1998 in the sample_training.trips collection?

In [11]:
tri.count_documents({"birth year": {"$gt":1998}}) - tri.count_documents({"birth year": 1998}) 
# there are 6 more people born after 1998 than the people born in 1998

6